.track-detail-label {
    background-color: white;
    color: black;
    max-width: fit-content;
}

.track-detail-content {
    margin: 0;
    max-width: fit-content;
    background-color: black;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}