html, body, #root {
    width: 100%;
    height: 100%;
}

.App {
    padding: 0.3in;
    width: calc(100% - 0.6in);
    height: calc(100% - 0.6in);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-outer {
    display: flex;
    flex-direction: row;
}

#AlbumArt {
    width: 3in;
    height: 3in;
    object-fit: contain;
}

.container-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0in 0.3in 0in 0.3in;
}

.container-trackdetails {
    display: flex;
    flex-direction: column;
}

#TrackName {
    margin: 0;
    font-size: 3em;

    width: max-content;
    padding: 0.1in 0.15in 0.1in 0.15in;
    background-color: black;
    color: white;
}

#Progress {
    margin: 0;
    font-size: 2em;
    font-family: monospace;
    width: max-content;
    padding: 0.1in 0.15in 0.1in 0.15in;
    background-color: silver;
    color: black;
}

.container-trackbuttons {
    display: flex;
    flex-direction: row;
    padding-left: 0.1in;
    padding-bottom: 0.1in;
    column-gap: 0.5in;
}

.ActionButton {
    padding: 0in;
    height: 0.6in;
    width: 0.6in;
    border-radius: 50%;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0in 0in 0.1in 0.1in rgba(0, 0, 0, 0.25), 0in 0in 0.1in 0.05in rgba(0, 0, 0, 0.1);
}
.ActionButton:focus {
    outline: none;
    background-color: silver;
}
.ActionButton:active {
    box-shadow: 0in 0in 0.15in 0.1in rgba(0, 0, 0, 0.25);
}