html, body, #root {
    max-width: 100%;
}

body {
    padding: 0.3in;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 0.3in;
}

#TrackDetails {
    align-self: flex-start;
    box-sizing: content-box;
    max-width: 100%;
}

.container-trackdetails {
    display: flex;
    align-items: center;
    flex: 1 1 0;
}

.container-controls {
    display: flex;
    flex-direction: row;
    column-gap: 0.3in;
}

#Progress {
    font-size: 2em;
    font-family: monospace;
    width: max-content;
    padding: 0.1in 0.15in 0.1in 0.15in;
    background-color: silver;
    color: black;
}

.ActionButton {
    padding: 0in;
    height: 0.6in;
    width: 0.6in;
    border-radius: 50%;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0in 0in 0.1in 0.1in rgba(0, 0, 0, 0.25), 0in 0in 0.1in 0.05in rgba(0, 0, 0, 0.1);
}
.ActionButton:focus {
    outline: none;
    background-color: silver;
}
.ActionButton:active {
    box-shadow: 0in 0in 0.15in 0.1in rgba(0, 0, 0, 0.25);
}

/* responsive layout */

@media (min-width : 550px) {
    .container-trackdetails {
        flex-direction: row;
    }

    #AlbumArt {
        width: 230px;
        height: 230px;
        max-width: 230px;
        max-height: 230px;
    }

    #TrackDetails {
        min-width: 0;
        flex: 1 1 0;
    }
}

@media (max-width : 550px) {
    .container-trackdetails {
        flex-direction: column;
    }

    #AlbumArt {
        width: 230px;
        height: 230px;
        max-width: 230px;
        max-height: 230px;
    }
}